*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background: #222;
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.box{
    margin: 1rem ;
    margin-top: 25rem;
    width: 15rem;
    height: 15rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.container-lignes{
    width: 10rem;
    height: 6rem;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}

.ligne{
    position: absolute;
    border-radius: 1rem;
    width: 10rem;
    height: 1rem;
    background-color: black;
}
.box .ligne:nth-child(1){
    top: 0rem;
}
.box .ligne:nth-child(2){
    top: 2.5rem;
}
.box .ligne:nth-child(3){
    top: 5rem;
}

/* ANIM 1 */
.b1 .ligne:nth-child(1), .ligne:nth-child(3){
    transform: rotate(0deg);
    transition: transform .4s ease-in-out, top .4s .4s ease-in-out;
}
.b1 .ligne:nth-child(2){
    transition: opacity .4s .4s ease-in-out;
}

.b1.active .ligne:nth-child(1){
    top: 2.5rem;
    transform: rotate(45deg);
}
.b1.active .ligne:nth-child(2){
    transition: opacity .4s ease-in-out;
    opacity: 0;
}
.b1.active .ligne:nth-child(3){
    top: 2.5rem;
    transform: rotate(-45deg);
}

/* ANIM 2 */

.b2 .ligne:nth-child(1){
    transition: top .4s .4s ease-in-out;
}
.b2 .ligne:nth-child(3){
    transform: rotate(0deg);
    transition: transform .4s ease-in-out, top .4s .4s ease-in-out;
}
.b2 .ligne:nth-child(2){
    transition: opacity .4s .4s ease-in-out;
}

.b2.active .ligne:nth-child(1){
    top: 2.5rem;
    
}
.b2.active .ligne:nth-child(2){
    transition: opacity .4s ease-in-out;
    opacity: 0;
}
.b2.active .ligne:nth-child(3){
    top: 2.5rem;
    transform: rotate(-90deg);
    transition: top .4s ease-in-out, transform .4s .4s ease-in-out;
}

/* ANIM 3 */

.b3 .container-lignes{
    transition: transform .4s ease-in-out;
}
.b3.active .container-lignes{
    transition: transform .4s .4s ease-in-out;
    transform: translate(-50%,-50%) rotate(720deg);
}

.b3 .ligne:nth-child(1), .ligne:nth-child(3){
    transform: rotate(0deg);
    transition: transform .4s ease-in-out, top .4s .4s ease-in-out;
}
.b3 .ligne:nth-child(2){
    transition: opacity .4s .4s ease-in-out;
}

.b3.active .ligne:nth-child(1){
    top: 2.5rem;
    transform: rotate(45deg);
}
.b3.active .ligne:nth-child(2){
    transition: opacity .4s ease-in-out;
    opacity: 0;
}
.b3.active .ligne:nth-child(3){
    top: 2.5rem;
    transform: rotate(-45deg);
}

/* ANIM 4 */

.b4 .container-lignes{
    transition: transform .4s ease-in-out;
}
.b4.active .container-lignes{
    transition: transform .4s .4s ease-in-out;
    transform: translate(-50%,-50%) rotate(360deg);
}

.b4 .ligne:nth-child(1){
    transition: top .4s .4s ease-in-out;
}
.b4 .ligne:nth-child(3){
    transform: rotate(0deg);
    transition: transform .4s ease-in-out, top .4s .4s ease-in-out;
}
.b4 .ligne:nth-child(2){
    transition: opacity .4s .4s ease-in-out;
}

.b4.active .ligne:nth-child(1){
    top: 2.5rem;
    
}
.b4.active .ligne:nth-child(2){
    transition: opacity .4s ease-in-out;
    opacity: 0;
}
.b4.active .ligne:nth-child(3){
    top: 2.5rem;
    transform: rotate(-90deg);
    transition: top .4s ease-in-out, transform .4s .4s ease-in-out;
}